body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.auction-room {
  width: 700px;
  margin: 0 auto;
  padding: 10px 0 50px 0;
}

.auction-room__current-user {
  float: right;
  margin: 20px;
}

.lot {
  padding: 30px 0;
}

.lot__desc {
  text-align: justify;
}

.lot__picture {
  padding-bottom: 30px;
  display: block;
  margin: 0 auto;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  background-color: #6c71c4;
  font-size: 1rem;
  padding: 8px 2rem 10px 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.btn:hover, .btn:focus {
  background-color: #6c71c4;
  outline: 4px solid #323799;
}

.btn:active {
  background-color: #323799;
}

.btn[disabled],
.btn[disabled]:hover,
.btn[disabled]:active {
  background-color: white;
  outline: none;
  color: #CCC;
  cursor: default;
}

.bidbtn {
  float: left;
}

.highest-bid {
  float: right;
  line-height: 35px;
}

.signin {
  position: absolute;
  width: 600px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin-top: -20px;
  margin-left: -250px;
}

.signin__input {
  height: 36px;
  line-height: 36px;
  border: 1px dashed #eee;
  outline: none;
  padding: 0 10px;
  font-size: 1em;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  width: 400px
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}